---
import Layout from '../../layouts/Layout.astro';
import AssignmentHero from '../../components/Assignment/AssignmentHero.astro';
import AssignmentList from '../../components/Assignment/AssignmentList.astro';
---

<Layout title="Assignment | Soedirman Student Summit (S3) 2026>">
	<div style="background-color: #76A3ED; background-image: url('/images/elements/bgbatik.webp'); background-size: cover; background-position: top; background-repeat: no-repeat;">
		<div class="relative z-10">
			<AssignmentHero />
			<AssignmentList />
		</div>
	</div>
</Layout>
