---
import Layout from '../layouts/Layout.astro';
import SocialMedia from '../components/ContactUs/SocialMedia.astro';
---

<Layout title="Contact Us | Soedirman Student Summit (S3) 2026">
	<div class="bg-[--color-dark-base] bg-[url('/images/elements/bgbatik-sambutan.webp')] bg-repeat">
		<SocialMedia />
	</div>
</Layout>
