---
const sponsors = [
  { name: "Almamaters", img: "/images/sponsors/almamaters.PNG" },
  { name: "Arasta", img: "/images/sponsors/arasta.png" },
  { name: "Artivity", img: "/images/sponsors/artivity.PNG" },
  { name: "Bisadya", img: "/images/sponsors/bisadya.png" },
  { name: "BTN", img: "/images/sponsors/btn.jpeg" },
  { name: "Hydroplus", img: "/images/sponsors/hydroplus.png" },
  { name: "Mandiri", img: "/images/sponsors/mandiri.jpeg" },
  { name: "Payuung", img: "/images/sponsors/Payuung.png" },
  { name: "Pringsewu", img: "/images/sponsors/pringsewu.jpg" },
  { name: "Sari Roti", img: "/images/sponsors/sari-roti.png" },
];
---

<section class="section-padding-x py-16 sm:py-20 md:py-24 text-white-base">
  <div class="container max-w-screen-xl mx-auto">
    <div class="flex flex-col justify-center items-center">
      <h2
        class="font-heading header-font-size mb-8 text-s3-gold"
        data-aos="fade-down"
        data-aos-duration="600"
        data-aos-delay="200"
        data-aos-easing="ease-out"
        data-aos-offset="200"
        data-aos-once="true"
      >
        Sponsorship
      </h2>
      <div class="flex flex-wrap justify-center gap-4 lg:gap-6 md:max-w-xl lg:max-w-3xl">
        {
          sponsors.map((sponsor) => (
            <span
              class="max-w-36 sm:max-w-40 flex justify-center items-center"
              data-aos="zoom-in"
              data-aos-duration="600"
              data-aos-delay="200"
              data-aos-easing="ease-out"
              data-aos-offset="50"
              data-aos-once="true"
            >
              <img src={sponsor.img} alt={sponsor.name} class="w-full h-auto object-contain" />
            </span>
          ))
        }
      </div>
    </div>
  </div>
</section>
