---
interface Props {
  href: string;
  active?: boolean;
}

const { href, active = false } = Astro.props;
---

<a
  href={href}
  class:list={[
    "text-sm font-plus-jakarta-sans font-medium transition-all duration-300 w-fit",
    active
      ? "bg-s3-gold text-s3-blue px-5 py-2 rounded-full"
      : "text-s3-gold/90 hover:text-s3-gold px-1",
  ]}
>
  <slot />
</a>
