---
import Flashback from './Flashback/Flashback.astro';
import Sponsorship from './Sponsorship/Sponsorship.astro';
---

<div class="relative bg-[#76A3ED] overflow-hidden">
  <!-- Unified Background Batik -->
  <div class="absolute inset-0 pointer-events-none z-0">
    <img
      src="/images/elements/bgbatik.svg"
      alt=""
      class="w-full h-full object-cover"
    />
  </div>
  <!-- Overlay -->
  <div class="absolute inset-0 bg-[#76A3ED]/40 pointer-events-none z-[1]"></div>
  
  <!-- Content -->
  <div class="relative z-10">
    <Flashback />
    <Sponsorship />
  </div>
</div>
