---
---

<section id="hero-assignment" class="section-padding-x relative">
  <div class="text-center py-12 md:py-16 lg:py-20">
    <h1 class="text-4xl md:text-5xl lg:text-6xl font-reikna font-bold text-s3-blue" data-aos="fade-up" data-aos-duration="800">
      <span class="text-[#E7C055]">Penugasan</span> Generasi Soedirman
    </h1>
  </div>
</section>
